.portrait {
  margin: auto;
  margin-top: 0.5em;
  max-width: 94%;
  max-height: 98%;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


h2 {
  font-weight: 300;
  font-size: 2em;
}

h3 {
  font-weight: 320;
  font-size: 1.6em;
}

h1 {
  font-size: 3.7em;
  font-weight: 200;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.5em;
  font-weight: 350;
  line-height: 1.2em;
  margin: auto;
  max-width: 95%;
}

a {
  font-size: 1.2em;
  font-weight: 350;
  margin: auto;
  max-width: 95%;
  color: #313131;
}

body {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fcf4e8 ;
  max-width: 95%;
  margin: auto;
  color: #313131;
}


.pure-menu {
  max-width: 99%;
}

.pure-menu a {
  font-size: 1.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}


.screenshot {
  margin:auto;
  margin-bottom: 2em;
  max-width: 95%;
  max-height: 98%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Contact a {
  color: #313131;
  font-size: 1em;
  margin-left:1em;
  margin-right:1em;
  height: auto;
}

.Footer a {
  font-size: 1em;
  color: #313131;
  float: right;
  margin: auto;
}

.walloftext h1{ 
  font-size: 1.2em;
  color: #313131;
  margin: auto;
}

.walloftext h2{ 
  font-size: 1.1em;
  color: #313131;
  margin: auto;
}

.walloftext h3{ 
  font-size: 1.0em;
  color: #313131;
  margin: auto;
}

.walloftext p{ 
  font-size: 0.7em;
  color: #313131;
  margin: auto;
}

;

